<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title><ion-thumbnail slot="end">
      <img  src="../../../assets/img/FFXIII_enemy_Cactuar.png" alt="Cactuar">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="verdexd">
      <ion-card color="light">
          <img src="../../../assets/img/elhacker.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>Analista programador</ion-card-subtitle>
            <ion-card-title>Zhihao He</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            El profe de arquitectura tiene una fijacion con el
          </ion-card-content>
  
          <img src="../../../assets/img/Esteban.png" alt="Ojitos lindos">
          <ion-card-header>
            <ion-card-subtitle>Analista programador</ion-card-subtitle>
            <ion-card-title>Esteban Baksai</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            Este tío es la puta oshtia, tremendos ojos que tiene, este weon le gusta al profe juan Aka Ojitos lindos
          </ion-card-content>
  
          <img src="../../../assets/img/Gabriel.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>Analista programador</ion-card-subtitle>
            <ion-card-title>Gabriel Cárcamo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Quiten excel porfavo me quiero matah
          </ion-card-content>

          <img src="../../../assets/img/Elxokas.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>CEO JEFE DE PROYECTOS</ion-card-subtitle>
            <ion-card-title>Xokas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Cathyvipi pa los amigos Xokas pa los demas (FUNAO)
          </ion-card-content>
  
          
        </ion-card>
  </ion-content>
