<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content>

  <ion-card>
    <ion-card-title>
      <ion-label color="primary" class="ion-text-center">
        <h1>Bienvenido!!!</h1>
      </ion-label>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input  type="string"
                    [(ngModel)]="user.username"
                    required
                    placeholder="Tu nombre de usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password"
                    [(ngModel)]="user.password"
                    pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,6}$"
                    required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button shape="block" (click)="login()">Login</ion-button>
  </ion-card>

</ion-content>
