<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Coversor</ion-title>
    <ion-thumbnail slot="end">
      <img  src="../../../assets/img/FFXIII_enemy_Cactuar.png" alt="Cactuar">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content color="verdexd">

  <ion-list *ngIf="listaDB" lines="full">

    <ion-item *ngFor="let personaje of listaDB">
      <ion-avatar slot="start">
        <img [src]="personaje.image" alt="{{personaje.name}}">
      </ion-avatar>
      <ion-label>
        <h2>{{personaje.name | titlecase}}</h2>
        <h4>{{personaje.especie | titlecase}}</h4>
        <h4>Mas Informacion en <a href="{{personaje.wiki}}" target="_blank">Wiki</a></h4>
      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>
