<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Coversor</ion-title>
    <ion-thumbnail slot="end">
      <img  src="../../../assets/img/FFXIII_enemy_Cactuar.png" alt="Cactuar">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content color="verdexd">

  <div id="container">
    <div col="12">
      <img src="../../../assets/gif/cactuar-gif-12.gif" />
    </div>
    <div col="12">
      ¡Pagina en construcción!
    </div>
  </div>

</ion-content>
